{% extends "base.twig" %}

{% block title %}Book list{% endblock %}

{% block head %}
    <style type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen" /> 
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h1>Book list</h1>
    <p class="important">
        {% for book in books %}
            {{ book.title }}
            {{ book.author }}
            <img src="{{book.cover}}">  
            <a href="{{ book.uri }}" target="_blank">more</a>
            {{ book.year }}
        {% endfor %}
    </p>
    
{% endblock %}