{% extends "base.twig" %}

{% block title %}Markdown test{% endblock %}

{% block head %}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h1>Markdown test</h1>
    <p class="important">
        {{test|markdown|raw}}
    </p>
    
{% endblock %}